@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    AULA MANAGER utiliza <a target="_blank" href="https://es.wikipedia.org/wiki/Modelo%E2%80%93vista%E2%80%93controlador">MVC</a> como arquitectura de software, 
                         <a target="_blank" href="https://es.wikipedia.org/wiki/Microsoft_SQL_Server">SQL Server</a> como gestor de base de datos y 
                         <a target="_blank" href="https://es.wikipedia.org/wiki/Bootstrap_(framework)">Bootstrap</a> como framework de diseño.
</p>
