@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Teléfono">Teléfono:</abbr>
    <a href="tel:+50242066010">4206-6010</a>
</address>

<address>
    <strong>Correo Electrónico:</strong>   <a href="mailto:carmelo5mayen@gmail.com">carmelo5mayen@gmail.com</a><br />
</address>