@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AULA MANAGER</h1>
    <p class="lead">AULA MANAGER es una apliación web que permite la gestion de alumnos, profesores, grados y la asignación de alumnos a un grado.</p>
    <p>
        AULA MANAGER utiliza MVC como arquitectura de software, SQL Server como gestor de base de datos y Bootstrap como framework de diseño.
    </p>
</div>
